header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

body{
    padding: 60px 100px;
}

.meu_botao {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textarea {
  resize: none;
}
